.advantages-list {
  display: grid;
  position: relative;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 755px;
    grid-template-columns: 325px 325px;
    grid-template-rows: 115px 105px 115px;
    column-gap: 10px;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 715px;
    column-gap: 35px;
    padding-left: 180px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-size: contain;
    bottom: 835px;

    @media (min-width: $tablet-width) {
      width: 768px;
      height: 15px;
      bottom: 595px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 21px;
      top: -160px;
      left: 0;
    }
  }
}

.advantages-list__item {
  list-style: none;
  font-family: $main-font;
  position: relative;
  width: 100%;

  @include font(17px, bold);
  color: $black;
  line-height: 20px;
  padding: 40px 0 30px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    @include font(20px, bold);
    line-height: 22px;
    padding: 20px 0 30px 20px;
    margin-top: 25px;
  }

  &--eco::before {
    position: absolute;
    bottom: 75px;
    fill: $icon-green;
    content: url("../img/icon-feature-flower.svg");

    @media (min-width: $tablet-width) {
      bottom: 85px;
    }
  }

  &--style {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &--style::before {
    position: absolute;
    bottom: 75px;
    fill: $icon-green;
    content: url("../img/icon-feature-money.svg");

    @media (min-width: $tablet-width) {
      bottom: 85px;
    }
  }

  &--likes {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }

  &--likes::before {
    position: absolute;
    bottom: 75px;
    fill: $icon-green;
    content: url("../img/icon-feature-heart.svg");

    @media (min-width: $tablet-width) {
      bottom: 85px;
    }
  }

  &--handmade {
    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--handmade::before {
    position: absolute;
    bottom: 75px;
    fill: $icon-green;
    content: url("../img/icon-feature-ball.svg");

    @media (min-width: $tablet-width) {
      bottom: 85px;
    }
  }

  &--native {
    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  &--native::before {
    position: absolute;
    bottom: 75px;
    fill: $icon-green;
    content: url("../img/icon-feature-rocket.svg");

    @media (min-width: $tablet-width) {
      bottom: 85px;
    }
  }

  &--box::before {
    position: absolute;
    bottom: 80px;
    fill: $icon-green;
    content: url("../img/icon-feature-gift.svg");

    @media (min-width: $tablet-width) {
      bottom: 85px;
    }
  }
}
