.card__text {
  font-family: $main-font;

  @include font(13px, normal);
  color: $black;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font(15px, normal);
    line-height: 30px;
  }
}

.card__price {
  @include font(15px, bold);
  line-height: 24px;

  @media (min-width: $tablet-width) {
    @include font(17px, bold);
    line-height: 24px;
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card__img {
  @media (min-width: $tablet-width) {
    width: 330px;
    height: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 465px;
  }
}

.card__order {
  min-width: 200px;
}

.card__info {
  min-width: 200px;
  max-width: 340px;
}
