.contact__title,
.contact__value {
  font-family: $main-font;

  @include font(15px, normal);
  color: $black;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    @include font(17px, normal);
  }
}

.contacts__info tbody {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    row-gap: 3px;
  }
}

.contacts__info {
  @include font(15px, normal);
  line-height: 20px;
  width: 260px;
  box-sizing: border-box;
  padding-top: 25px;
  color: $text-color-gray;
  border-collapse: collapse;
  border-spacing: 0;

  @media (min-width: $tablet-width) {
    width: 668px;
  }
  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.contact__title {
  width: 75px;
}

.contact__row {
  min-width: 300px;
}
