.contancts {
}
.contacts__button {
  width: 260px;
  font-family: $main-font;
  @include font(18px, normal);
  color: $black;
  line-height: 20px;
  @media (min-width: $tablet-width) {
    @include font(18px, normal);
  }
}
