.form-tel {
  background-color: inherit;

  @media (min-width: $tablet-width) {
    background-color: $footer-color;
  }
}

.form-tel__legend {
  width: 260px;
  margin-bottom: 24px;

  @include font(17px,bold);
  line-height: 16px;
  text-transform: uppercase;
  color: $icon-green;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  &::after {
    display: block;
    content: "";
    width: 182px;
    height: 8px;
    border-bottom: 1px solid $icon-green;
   
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 22px;
  }
}

.form-tel__label {
  @include font(17px,bold);
  line-height: 18px;
  font-family: $main-font;
  color: $black;

  @media (min-width: $tablet-width) {
    @include font(18px,bold);
    line-height: 19px;
  }
}

.form-tel__input {
  opacity: 0.3;

  &::placeholder {
    border-bottom: 2px solid $black;
  }
}

