.form-full-name {
  background-color: inherit;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.form-full-name__list {
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 850px;
  }
}

.form-full-name__item {
  list-style: none;
}

.form-full-name__title {
  width: 100%;
  margin-bottom: 24px;

  @include font(17px,bold);
  line-height: 16px;
  text-transform: uppercase;
  color: $icon-green;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width: 100px;
  }

  &::after {
    display: block;
    content: "";
    width: 182px;
    height: 8px;
    border-bottom: 1px solid $icon-green;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 22px;
  }
}

.form-full-name__label {
  @include font(17px,bold);
  line-height: 18px;
  font-family: $main-font;
  color: $black;

  @media (min-width: $tablet-width) {
    @include font(18px,bold);
    line-height: 19px;
  }
}

.form-full-name__input {
  opacity: 0.3;
  width: 100%;
  min-height: 48px;
  border-bottom: 2px solid $black;
  background-color: transparent;
  box-sizing: border-box;
  border: none;

  &::placeholder {
    border-bottom: 2px solid $black;

    @include font(17px,bold);
    line-height: 18px;
    font-family: $main-font;
    color: $black;

    @media (min-width: $tablet-width) {
      @include font(18px,bold);
      line-height: 19px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 400px;
    min-height: 36px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.form-full-name__input:first-child {
    width: 413px;
    min-height: 36px;
    flex-grow: 1;

  @media (min-width: $desktop-width) {
    width: 680px;
  }
}
