.form-type {
  background-color: inherit;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.form-type__list {
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 850px;
  }
}

.form-type__item {
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.form-type__title {
  width: 100%;

  margin-bottom: 24px;

  @include font(17px,bold);
  line-height: 16px;
  text-transform: uppercase;
  color: $icon-green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width: 100px;
  }

  &::after {
    display: block;
    content: "";
    width: 270px;
    height: 8px;
    border-bottom: 1px solid $icon-green;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 22px;
  }
}

.form-type__input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 41px;
  height: 41px;
  box-sizing: border-box;
  border: 2px solid $light-green;
  background-color: transparent;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 51px;
    height: 51px;
  }
}

.form-type__input:checked + label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 15px;
  width: 18px;
  height: 18px;
  background-color: $light-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 18px;
    top: 20px;
  }
}

.form-type__input:hover + label::before,
.form-type__input:focus + label::before {
  border-color: $light-green;
}

.form-type__input:hover + label::after,
.form-type__input:focus + label::after,
.form-type__input:active + label::after,
.form-type__input:checked + label:checked {
  background-color: $light-green;
  pointer-events: none;
}

.form-type__input:active + label::before {
  border-color: $text-color-gray;
  opacity: 0.3;
  pointer-events: none;
}

.form-type__input:disabled + label::before {
  border-color: $text-color-gray;
  pointer-events: none;
}

.form-type__label {
  @include font(17px,bold);
  line-height: 18px;
  font-family: $main-font;
  color: $black;
  position: relative;
  display: block;
  padding: 12px 30px 12px 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 20px 30px 12px 80px;

    @include font(18px,bold);
    line-height: 19px;
  }
}
