.form-color__legend {
      border: none;
      @include font(17px,bold);
      line-height: 18px;
      font-family: $main-font;
      color: $black;
    
      @media (min-width: $tablet-width) {
        @include font(18px,bold);
        line-height: 19px;
    }
}

.form-color__legend {
  width: 260px;
  margin-bottom: 24px;
  @include font(17px,bold);
  line-height: 16px;
  text-transform: uppercase;
  color: $icon-green;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}
.form-color__label {
  @include font(17px,bold);
  line-height: 18px;
  font-family: $main-font;
  color: $black;
  
  @media (min-width: $tablet-width) {
    @include font(18px,bold);
    line-height: 19px;
  }
}