.form-email {
  background-color: inherit;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: $footer-color;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.form-email__title {
  width: 260px;
  margin-bottom: 24px;

  @include font(17px,bold);
  line-height: 16px;
  text-transform: uppercase;
  color: $icon-green;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width: 100px;
  }

  &::after {
    display: block;
    content: "";
    width: 182px;
    height: 8px;
    border-bottom: 1px solid $icon-green;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 22px;
  }
}


.form-email__input {
  opacity: 0.3;
  width: 320px;
  min-height: 48px;
  padding-left: 17px;
  padding-bottom: 12px;
  border-bottom: 2px solid $black;
  background-color: transparent;
  box-sizing: border-box;
  border: none;

  &::placeholder {
    border-bottom: 2px solid $black;

    @include font(17px,bold);
    line-height: 18px;
    font-family: $main-font;
    color: $black;

    @media (min-width: $tablet-width) {
      @include font(18px,bold);
      line-height: 19px;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $icon-green;
    }
  }

  @media (min-width: $tablet-width) {
    width: 500px;
    min-height: 36px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
