.form-color {
  background-color: inherit;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 668px;
    background-color: $footer-color;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.form-color__list {
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    width: 850px;
  }
}

.form-color__item {
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.form-color__title {
  width: 100%;
  margin-bottom: 24px;

  @include font(17px,bold);
  line-height: 16px;
  text-transform: uppercase;
  color: $icon-green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width:100px;
  }

  &::after {
    display: block;
    content: "";
    width: 270px;
    height: 8px;
    border-bottom: 1px solid $icon-green;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 22px;
  }
}

.form-color__label {
  border: 1px solid green;
  position: relative;
  display: block;
  padding: 12px 30px 12px 60px;
  cursor: pointer;

  @include font(17px,bold);
  line-height: 18px;
  font-family: $main-font;
  color: $black;

  @media (min-width: $tablet-width) {
    @include font(18px,bold);
    line-height: 19px;
    padding: 15px 20px 0px 82px;
  }
}
