.info-section {
  font-family: $main-font;

  @include font(17px, bold);
  color: $black;
  line-height: 20px;
  width: 320px;
  margin-top: 90px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    @include font(20px, bold);
    line-height: 22px;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    @include font(20px, bold);
    line-height: 22px;
    width: 1050px;
    margin-top: 0;
  }
}
