.main-nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  background-color: rgba($main-white, 0);
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 718px;
  }

  @media (min-width: $desktop-width) {
    width: 1100px;
  }

  &--nojs .main-nav__list,
  &--nojs .main-nav__second-list {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--closed .main-nav__toggle {
    background: url("../img/icon-menu-open.svg") no-repeat 50%;
    border: 0;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--closed .main-nav__second-list,
  &--closed .main-nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--opened .main-nav__toggle {
    background: url("../img/icon-menu-close.svg") no-repeat 50%;
    border: 0;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--opened .main-nav__second-list,
  &--opened .main-nav__list {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 19px;
  right: 55px;

  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-family: $main-font;
    padding: 22px 22px 0 40px;
    margin: 0;

    @include font(15px, normal);
    color: $black;
    line-height: 24px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 4;
    padding: 24px 2px 0 45px;
    margin-left: 420px;
  }
}

.main-nav__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 420px;
    order: 1;
    max-height: 88px;
    border-top: 1px solid $shadow-gray;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 450px;
    order: 0;
    border-bottom: 1px solid $shadow-gray;
    border-top: 1px solid $shadow-gray;
  }
}

.main-nav__item {
  list-style: none;
  padding: 28px 31px 26px 98px;
  margin: 0 auto;
  border-bottom: 1px solid $shadow-gray;
  border-top: 1px solid $shadow-gray;

  @media (min-width: $tablet-width) {
    padding: 23px 5px 30px 28px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    border-left: 1px solid $shadow-gray;
    padding: 32px 31px 26px 24px;
    margin-right: 20px;
  }
}

.main-nav__link {
  width: 240px;
  box-sizing: border-box;
  font-family: $main-font;

  @include font(17px, bold);
  color: $black;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    @include font(15px, bold);
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    @include font(17px, bold);
    line-height: 24px;
    width: 185px;
  }

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.6);
  }
}
