.nav-list__item {
  list-style: none;
}

.nav-list__link {
  font-family: $main-font;

  @include font(17px,bold);
  color: $black;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    @include font(15px,bold);
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    @include font(17px,bold);
    line-height: 24px;
  }
}

.nav-list__link--text {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
