.order-text {
    font-family: $main-font;
    @include font(13px,bold);
    color: $black;
    line-height: 24px;
    width: 260px;
    padding: 15px 0;

    @media (min-width: $tablet-width) {
        @include font(17px,bold);
        line-height: 30px;
        width: 668px;
        padding: 20px 0;
    }
    @media (min-width: $desktop-width) {
        width: 790px;
        padding-left: 116px;
        padding-top: 70px;
    }
}
