.page-footer {
  min-height: 160px;
  box-sizing: border-box;
  width: 100%;
  background-color: $footer-color;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 668px;
    margin: 37px auto;
    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 32px auto;
  }
}

.page-footer__social {
  width: 260px;
  min-height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid $text-color-gray;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 110px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 144px;
  }
}

.copyright__text {
  font-family: $main-font;

  @include font(19px, bold);
  color: $black;
  line-height: 18px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 190px;
  }
}
