.product-card__sale {
  border:1px solid red;
  font-family: $main-font;
  margin:0;

  @include font(17px, bold);
  line-height: 20px;
  color: $icon-green;
  width: 163px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 100px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    order:0;
  }
}

.product-card__title {
  margin:0;
  border:1px solid green;
  @media (min-width: $desktop-width) {
    order:1;
  }
}

.product-card__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid greenyellow;
}

  .product-card {
  border: 1px solid pink;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.product-card__text {
  display: block;
  margin: 0;
  padding: 23px 5px;
  width: 260px;
  font-family: $main-font;

  @include font(15px, normal);
  line-height: 24px;
  text-align: left;
  color: $text-color-gray;

  @media (min-width: $tablet-width) {
    @include font(17px, normal);
    line-height: 30px;
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.product-card__price {
  font-family: $main-font;

  @include font(17px, bold);
  line-height: 24px;
  color: $text-color-gray;

  @media (min-width: $tablet-width) {
    @include font(20px, bold);
    line-height: 24px;
  }
}

.product-card__button {
  width: 260px;
  margin: 0 auto;
  padding: 15px 70px;
  border: 2px solid $text-color-gray;
  font-family: $main-font;

  @include font(17px, bold);
  line-height: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 292px;
    padding: 14px 86px;
  }
}

.product-card__wrapper{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
  min-height: 415px;

  @media (min-width: $desktop-width) {
   min-height: 640px;
  }
}

.product-card__wrapper-info{
  @media (min-width: $tablet-width) {
    width: 292px;
  }
}

.product-card__img {
  border: 1px solid red;
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 333px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    z-index: -1;
  }
}

.product-card__wrapper-order{
  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: 292px;
  }
}
