.product-specification {
  @include font(15px, normal);
  line-height: 20px;
  width: 260px;
  box-sizing: border-box;
  padding-top: 25px;
  color: $text-color-gray;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 291px;
  }
}

.product-specification__title {
  @include font(15px, normal);
  line-height: 20px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-specification__value {
  @include font(15px, normal);
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-specification__row {
  @include font(15px, normal);
  line-height: 20px;
  border-bottom: 1px solid $text-color-gray;
  text-align: left;
}
