.product-card__sale {
  font-family: $main-font;
  margin: 0;

  @include font(17px, bold);
  line-height: 20px;
  color: $icon-green;
  width: 163px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 100px;
    line-height: 17px;
    margin: 8px 2px 20px 133px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    order: 0;
    margin: 8px 2px 20px 38px;
  }
}

.product-card__title {
  margin: 0;

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: 35px;
    padding: 0;
  }
}

.product-card__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    margin: 1px 2px 20px 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 150px;
  }
}

.product-card {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.product-card__text {
  display: block;
  margin: 0;
  padding: 19px 4px;
  width: 260px;
  font-family: $main-font;

  @include font(15px, normal);
  line-height: 24px;
  text-align: left;
  color: $text-color-gray;

  @media (min-width: $tablet-width) {
    @include font(17px, normal);
    line-height: 30px;
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.product-card__price {
  font-family: $main-font;

  @include font(17px, bold);
  line-height: 24px;
  color: $text-color-gray;
  text-align: center;
  margin: 20px;

  @media (min-width: $tablet-width) {
    @include font(20px, bold);
    line-height: 24px;
    padding: 1px 20px 30px 12px;
    margin: 10px;
  }
}

.product-card__button {
  width: 260px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px 70px;
  border: 2px solid $text-color-gray;
  font-family: $main-font;

  @include font(17px, bold);
  line-height: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 292px;
    padding: 14px 86px;
    margin-top: 15px;
  }

  &:hover,
  &:focus {
    color: $main-white;
    background-color: $text-color-gray;
  }

  &:active {
    color: rgba($main-white, 0.3);
    background-color: $text-color-gray;
  }
}

.product-card__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  min-height: 415px;

  @media (min-width: $desktop-width) {
    min-height: 640px;
  }
}

.product-card__wrapper-info {
  @media (min-width: $tablet-width) {
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 170px;
  }
}

.product-card__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 30px;
    right: 0;
    width: 333px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    z-index: -3;
    left: 530px;
    top: -130px;
  }
}

.product-card__wrapper-order {
  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    margin: 90px 2px 20px 170px;
  }
}
