.product-section {
  box-sizing: border-box;
  width: 260px;
  margin-bottom: 30px;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    width: 668px;
    margin-bottom: 60px;
    margin-top: -20px;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1050px;
    padding: 0;
    margin-bottom: 70px;
  }
}
