.product-section {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    width: 668px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1050px;
    padding: 0;
    margin-bottom: 70px;
  }
}
