.reviews {
  display: block;

  @media (min-width: $tablet-width) {
    background: url("../img/review@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    background: url("../img/review@1x.jpg");
  }
}
.reviews__write {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 175px;
  }
}
.reviews__text {
  width: 260px;
  font-family: $main-font;
  @include font(15px, bold);
  color: $black;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
  }
  @media (min-width: $desktop-width) {
    width: 773px;
  }
}
.review__author--contact {
  font-family: $main-font;
  @include font(17px, bold);
  color: $black;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    @include font(18px, bold);
    line-height: 24px;
  }
}

.reviews__author--name {
  font-family: $main-font;
  @include font(17px, normal);
  color: $black;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    @include font(18px, normal);
    line-height: 24px;
  }
}
