.social__item {
  list-style: none;

  &:hover,
  &:focus {
    fill: $dark-icon-green;
  }

  &:active {
    fill: $dark-icon-green;
    opacity: 0.3;
  }
}

.social__list {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 23px 3px 4px 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social {
  width: 260px;
  min-height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid $text-color-gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: $tablet-width) {
    border: none;
    width: 145px;
  }
}
