.user-nav__list {
  display: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    order: 3;
  }
}

.user-nav__link {
  display: block;
  box-sizing: border-box;

  @include font(15px, bold);
  color: $black;
  line-height: 24px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.6);
  }
}

.user-nav__item {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    order: 4;
    padding: 25px 38px 2px 28px;
  }
}
