$main-white: #ffffff;
$black: #000000;
$text-color-gray: #444444;
$footer-color: #f1f1f1;
$icon-green: #63d1bb;
$burger-menu: #231f20;
$green: #56c3b2;
$dark-green: #149080;
$light-green: #62d1ba;
$blue-green: #6bc6b3;
$main-font: "Open Sans", "Helvetica", sans-serif;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
